/* LA SIGUIENTE INSTRUCCION DEFINE UNA PALETA DE COLORES (VARIABLES EN CSS) */
:root{
    --blanco: white;
    --oscuro: black;
    --primario: #ffc107;
    --secundario:#0097a7;
    --gris: #757575;
}

/* Las siguentes lineas de  codigo CSS haran que 1rem valga 10px */
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}
