/* LA SIGUIENTE INSTRUCCION DEFINE UNA PALETA DE COLORES (VARIABLES EN CSS) */
:root{
    --blanco: white;
    --oscuro: black;
    --primario: #ffc107;
    --secundario:#0097a7;
    --gris: #757575;
}

/* Las siguentes lineas de  codigo CSS haran que 1rem valga 10px */
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}


/* Estilos de navegación */

.nav-bg{
    background-color: var(--secundario);
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.navegacion-principal{
    
    display: flex;
    justify-content: space-between;
    
}

.navegacion-principal a{
    padding: 1rem;
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700; /* Negrita tambien puede usar bold */
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}